html{
    background-image: url(./247088.png);
    background-color: #cccccc ;
}
#primary_headline{
    color: plum;
    font-family: 'Source Serif Pro', serif;
    text-decoration: underline;
    text-align: center;
}
p{
    color: blueviolet;
}
h3{
    color: plum;
}
ul{
    color: blueviolet;
}
ol{
    color: blueviolet;
}
h2{
    color: blanchedalmond;
}
h3{
    color: darkgoldenrod;
    text-align: center;
    text-emphasis: calc(2.5);
}
image{
    align-self: center;
}
button{
    align-items: center;
    align-self: center;
    text-align: center;
    cursor: pointer;
    border: 1px dashed plum ;
    border-radius: 20px;
    padding: 1px;
    margin: 0px 10px 0px 10px ;
    background-color: transparent;
    height: 50px;
    width:300px;
    color:plum;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0,0,0,0.6);
}
*{
    font-family: 'Comic Neue', cursive;
}
nav a{
    color: plum;
}
footer {
    background-color:transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
  }